.row {
    // margin: auto !important;
}

.practices-areas {
    margin-bottom: 80px;
    &__image-container {
        background-color: $main-bg-green-color;
    }
    &__content-container {
        &__content {
            box-sizing: border-box;
            padding: 80px 120px;
            &__title {
                opacity: 0.8;
                color: $main-black-color;
                // font-family: Lexend;
                font-size: 40px;
                letter-spacing: 0;
                line-height: 60px;
                margin-bottom: 80px;
            }
            &__subtitle {
                opacity: 0.8;
                color: $main-black-color;
                // font-family: Lexend;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0.91px;
                line-height: 26px;
                text-transform: uppercase;
            }
            &__practice-area{
                margin-bottom: 80px;
                &__name {
                    opacity: 0.8;
                    color: $main-black-color;
                    // font-family: Lexend;
                    font-size: 20px;
                    font-weight: 500;
                    letter-spacing: 1.14px;
                    line-height: 26px;
                    text-transform: uppercase;
                }
                &__definition {
                    opacity: 0.8;
                    color: $grey-color;
                    // font-family: Lexend;
                    font-size: 20px;
                    font-weight: 300;
                    letter-spacing: 0;
                    line-height: 25px;
                }
            }
        }
    }
}