
footer {
    margin-top: 96px;
    color: $main-white;
    background-color: $main-bg-green-color;
    padding-left: 120px;
    padding-right: 120px;

    .logo-isotype-container {
        display: none;
    }

    .socials-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &__instruction {
            padding: 18px 0;
            margin: 0 40px 0 0;
            text-align: right;
        }
    }
}

.footer__info {
    padding: 18px 0;
    margin: 0;
}

@media only screen and (max-width: 992px) {
    footer {
        padding: 0 36px;
    }

    .footer {
        &__info {
            // color: #909DAA;
            font-size: 12px;
            letter-spacing: 0;
            line-height: 16px;
        }
    }
}

@media only screen and (max-width: 576px) {
    footer {
        color: $grey-color;
        background-color: $main-white;

        .footer {
            &__info {
                opacity: 0.6;
            }
        }

        .logo-isotype-container {
            display: block;
            &__image {
                height: 24px;
                width: auto;
            }
        }

        .socials-container {
            display: none;
        }
    }
}
