.practices-areas {
  margin-bottom: 80px;
}
.practices-areas__image-container {
  background-color: #2A7A40;
}
.practices-areas__content-container__content {
  box-sizing: border-box;
  padding: 80px 120px;
}
.practices-areas__content-container__content__title {
  opacity: 0.8;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: 80px;
}
.practices-areas__content-container__content__subtitle {
  opacity: 0.8;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.91px;
  line-height: 26px;
  text-transform: uppercase;
}
.practices-areas__content-container__content__practice-area {
  margin-bottom: 80px;
}
.practices-areas__content-container__content__practice-area__name {
  opacity: 0.8;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.14px;
  line-height: 26px;
  text-transform: uppercase;
}
.practices-areas__content-container__content__practice-area__definition {
  opacity: 0.8;
  color: #484848;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 25px;
}

:root {
  --main-white: #FFFFFF;
  --main-black-color: #000000;
  --main-bg-green-color: #2A7A40;
  --light-bg-green-color: #EAF6ED;
  --main-text-green-color: #386846;
}

.navbar {
  padding-bottom: 18px !important;
}
.navbar .navbar-nav.hyperlinks {
  margin-bottom: 260px;
}
.navbar .navbar-nav .nav-item {
  opacity: 0.5;
  color: var(--main-black-color);
  /* font-family: Lexend; */
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  padding: 0 8px;
  margin-bottom: 16px;
}
.navbar .navbar-nav .nav-item:hover {
  opacity: 0.8;
}
.navbar .navbar-nav .nav-item.active {
  opacity: 0.8;
  font-weight: bold;
  border-bottom: 4px solid var(--main-bg-green-color);
}
.navbar .navbar-nav .nav-item.dropdown {
  opacity: 1;
  margin: 0;
}
.navbar .navbar-nav .nav-item.dropdown .dropdown-menu.show {
  min-width: 100%;
  max-width: 100%;
}

.offcanvas {
  max-width: 75% !important;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
}
.offcanvas-body .offcanvas-footer {
  display: flex;
  flex-grow: 1;
  align-items: end;
  color: #909DAA;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
}

@media only screen and (min-width: 992px) {
  .navbar .navbar-nav.hyperlinks {
    margin-bottom: 0px;
  }
  .navbar .navbar-nav .nav-item.dropdown {
    border-left: 2px solid rgba(42, 122, 64, 0.2);
  }
  .offcanvas-body {
    flex-direction: row;
    justify-content: end;
  }
  .offcanvas-body .offcanvas-footer {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .navbar {
    padding-bottom: 18px !important;
  }
  .navbar .navbar-nav.hyperlinks {
    margin-bottom: 180px;
  }
  .navbar .navbar-nav .nav-item {
    opacity: 0.5;
    color: var(--main-black-color);
    /* font-family: Lexend; */
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 16px;
  }
  .navbar .navbar-nav .nav-item:hover {
    opacity: 0.8;
  }
  .navbar .navbar-nav .nav-item.active {
    opacity: 0.8;
    font-weight: bold;
    border-bottom: none;
    border-right: 20px solid var(--main-bg-green-color);
  }
  .navbar .navbar-nav .nav-item.dropdown {
    opacity: 1;
    margin: 0;
  }
  .navbar .navbar-nav .nav-item.dropdown .dropdown-menu.show {
    min-width: 100%;
    max-width: 100%;
  }
  .offcanvas-body {
    display: flex;
    flex-direction: column;
    padding-right: 0 !important;
  }
  .offcanvas-body .offcanvas-footer {
    display: flex;
    flex-grow: 1;
    align-items: end;
    padding-left: 8px;
    color: #909DAA;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 15px;
  }
}
footer {
  margin-top: 96px;
  color: #FFFFFF;
  background-color: #2A7A40;
  padding-left: 120px;
  padding-right: 120px;
}

.footer__info {
  padding: 18px 0;
  margin: 0;
}

.footer__info--socials {
  text-align: right;
}

@media only screen and (max-width: 992px) {
  footer {
    padding: 0 36px;
  }
  .footer__info {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
  }
}

/*# sourceMappingURL=services.css.map */
